// colors tasks
$important: #C80E0E;
$important-bg: #281316;

$process: #DADE1E;
$process-bg: #252515;

$done: #15D728;
$done-bg: #182D17;

$bg: #19191E;

$delete: #EA9617;

$input-bg: #282937;

$input: #7073BC;

$text: #ffffff;

$disabled: #939393;

$border: $input;
