$close-button: url('@/assets/images/icons/close-button-icon.svg');

$important-icon: url('@/assets/images/icons/important.svg');
$important-active-icon: url('@/assets/images/icons/important-active.svg');

$done-icon: url('@/assets/images/icons/done-icon.svg');
$done-active-icon: url('@/assets/images/icons/done-active-icon.svg');

$delete-icon: url('@/assets/images/icons/delete-icon.svg');

$important-button-icon: url('@/assets/images/icons/important-button-icon.svg');
$important-button-active-icon: url('@/assets/images/icons/important-button-active-icon.svg');

$add-icon: url('@/assets/images/icons/add-icon.svg');