%bgi {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%btn {
    border: none;
    cursor: pointer;
    transition: opacity .3s;
    background-color: transparent;

    &:hover {
        @media(hover: hover) and (pointer: fine) {
            opacity: .5;
        }
    }
}