@import '@/constants/colors.scss';

.todo-list {
    margin: 0 0 150px;
    // width: max-content;
    

    &__warning {
        font-size: 30px;
        color: $text;
        text-align: center;
    }
}

.list-enter-active,
.list-leave-active {
  transition: all .5s;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.list-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.list-move {
    transition: transform .8s ease;
  }