@import '../../constants/colors.scss';

.todo-list {
    margin: 0 0 150px;
    width: max-content;
    

    &__warning {
        font-size: 30px;
        color: $text;
        text-align: center;
    }
}