@import "@/constants/colors.scss";

.todo-list {
  margin: 0 0 150px;

  &__warning {
    font-size: 30px;
    color: $text;
    text-align: center;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.list-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.list-move {
  transition: transform 0.8s ease;
}
