// colors tasks
$important: #C80E0E;
$important-bg: #370D0D80;

$process: #DADE1E;
$process-bg: #31320D80;

$done: #15D728;
$done-bg: #17411080;

$bg: #19191E;

$delete: #EA9617;

$input-bg: #282937;

$input: #7073BC;

$text: #ffffff;

$disabled: #939393;

$border: $input;
