@import '@/constants/colors.scss';
@import '@/constants/templates.scss';
@import '@/constants/icons.scss';

.form-add {
    position: relative;
    display: flex;
    margin: 150px auto 40px;
    background-color: $input-bg;
    border-radius: 25px;
    max-width: 500px;

    @media screen and (max-width: 1440px) {
        margin-top: calc(50px + (150 - 50) * ((100vw - 320px) / (1440 - 320)));
    }

    &__label {
        width: 100%;
    }

    &__input {
        height: 50px;
        width: 100%;
        background-color: transparent;
        font-size: 24px;
        color: $input;
        padding: 0 5px 0 15px;
        border: none;
        border-radius: 25px 0 0 25px;
        
        &:focus {
            outline: $input solid 2px;
            border-radius: 25px 5px 5px 25px;
        }

        &::placeholder {
            color: $input;
        }
    }

    &__error {
        position: absolute;
        color: $important;
        bottom: -25px;

        @media screen and (max-width: 768px) {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (768 - 320)));
        }
    }

    &__important-button {
        width: 40px;
        padding: 5px;
        background-image: $important-button-icon;
        @extend %bgi;
        background-size: 30px 30px;
        flex-shrink: 0;
        @extend %btn;

        &_active {
            background-image: $important-button-active-icon;
        }
    }

    &__add-button {
        width: 55px;
        flex-shrink: 0;
        @extend %btn;
        background-image: $add-icon;
        @extend %bgi;
        padding-left: 5px;
        background-size: 50px 50px;
        background-position: right center;
        border-radius: 0 25px 25px 0;
    }
}

.error-enter-active,
.error-leave-active {
  transition: all .3s;
}

.error-enter-from {
    transform: translateY(-15px);
    opacity: 0;
}

.error-enter-to,
.error-leave-from {
    transform: translateY(0);
    opacity: 1;
  }

.error-leave-to {
    transform: translateY(15px);
    opacity: 0;
}