@import '../../constants/colors.scss';
@import '../../constants/templates.scss';

.form-add {
    display: flex;
    margin: 150px auto 40px;
    background-color: $input-bg;
    border-radius: 25px;
    max-width: 500px;

    &__label {
        position: relative;
        width: 100%;
    }

    &__input {
        height: 50px;
        width: 100%;
        background-color: transparent;
        font-size: 24px;
        color: $input;
        padding: 0 5px 0 15px;
        border: none;
        border-radius: 25px 0 0 25px;
        
        &:focus {
            outline: $input solid 2px;
            border-radius: 25px 5px 5px 25px;
        }

        &::placeholder {
            color: $input;
        }
    }

    &__error {
        position: absolute;
        color: $important;
        bottom: -25px;
        // transform: translateY(-15px);
        // opacity: 0;
        // transition: all .5s ease-out;

        // &_active {
        //     transform: translateY(0);
        //     opacity: 1;
        // }
    }

    &__important-button {
        width: 40px;
        padding: 5px;
        background-image: url('../../assets/images/icons/important-button-icon.svg');
        @extend %bgi;
        background-size: 30px 30px;
        flex-shrink: 0;
        @extend %btn;

        &_active {
            background-image: url('../../assets/images/icons/important-button-active-icon.svg');
        }
    }

    &__add-button {
        width: 55px;
        flex-shrink: 0;
        @extend %btn;
        background-image: url('../../assets/images/icons/add-icon.svg');
        @extend %bgi;
        padding-left: 5px;
        background-size: 50px 50px;
        background-position: right center;
        border-radius: 0 25px 25px 0;
    }
}

.error-enter-active,
.error-leave-active {
  transition: all .3s;
}

.error-enter-from {
    transform: translateY(-15px);
    opacity: 0;
}

.error-enter-to,
.error-leave-from {
    transform: translateY(0);
    opacity: 1;
  }

.error-leave-to {
    transform: translateY(15px);
    opacity: 0;
}