@import '../../constants/colors.scss';
@import '../../constants/templates.scss';

.wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 20px;
}

.title {
    color: $text;
    font-size: 40px;
}

.clear-button {
    @extend %btn;
    color: $delete;
    text-decoration: underline;
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;
}